<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragement="commonHeader">
    <meta charset="UTF-8"/>
    <link th:href="@{h-ui/css/H-ui.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{h-ui.admin/css/H-ui.admin.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{lib/Hui-iconfont/1.0.8/iconfont.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{h-ui.admin/skin/default/skin.css}" id="skin" rel="stylesheet" type="text/css"/>
    <link th:href="@{h-ui.admin/css/style.css}" rel="stylesheet" type="text/css"/>
</head>
<body>

</body>
</html>